.navfont{
    font-size: 1.5rem;
}
a:hover{
border-bottom:5px solid rgb(6, 185, 185);
border-radius: 7px;
text-decoration: none !important;
}
.btnItem{
    border-top-left-radius: 27px;
    border-bottom-right-radius: 30px;
    border:none;
    width: 9rem;
    height: 3rem;
    background-image: linear-gradient(to right, rgb(107, 228, 137),cyan, );
}
.btnItem:focus{
    outline: none;
    
}
.FontHeader{
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5rem;
   
}
.backgroundHeader{

    background-image:  url('../../../../Assests/Illustration/125477644_676503299720033_970935079442905986_n.png');
    background-position: center center;
     background-size: cover;
    // width: 100%;
     background-repeat: no-repeat; 
}
