.navfont{
    font-size: 1.5rem;
}
a:hover{
border-bottom:5px solid rgb(6, 185, 185);
border-radius: 7px;
text-decoration: none !important;
}
.btnItem{
    border-top-left-radius: 27px;
    border-bottom-right-radius: 30px;
    border:none;
    width: 9rem;
    height: 3rem;
    background-image: linear-gradient(to right, rgb(107, 228, 137),cyan, );
}
.btnItem:focus{
    outline: none;
    
}
.FontHeader{
    font-family: 'Abril Fatface', cursive;
    font-size: 4.5rem;
   
}
.backgroundHeader{

    background-image: url('https://i.ibb.co/rkt4PgR/Group-46-2x.png') , url('../../../../Assests/Illustration/Group\ 49.png'),  url('../../../../Assests/Illustration/STUDIO.png');
    background-position: right -90px top -110px, left -100px top -100px, left bottom;
     background-size: 30% auto;
    // width: 100%;
     background-repeat: no-repeat; 
}
