.serviceBackground{
    background-color:rgb(249, 251, 251);
   background-size: cover;

}
.serviceCard:hover{
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;
background-color:rgb(255, 255, 255);
box-shadow: 1px 1px 8px lightgray;
}

